* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
  }
  

  main {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
 
  .form {
    margin-bottom: 20px;
  }
  
  .form h5 {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #555;
  }
  
  .form-row {
    margin-bottom: 15px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 15px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .btn-block {
    width: 100%;
    text-align: center;
  }
  
  .text-small {
    font-size: 0.9rem;
    color: #ff4d4f;
    display: none;
  }
  

  .form-alert {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    display: none;
    font-size: 0.9rem;
    text-align: center;
  }
  
  .text-success {
    color: #28a745 !important;
  }
  
 
  .container {
    margin-top: 20px;
  }
  
  .container h4 {
    margin-bottom: 15px;
  }
  
  .token {
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
  }
  
  .result h5 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #007bff;
  }
  
  .result p {
    font-size: 1rem;
    color: #333;
  }
  
  h4, h5{
    text-align: center;
    margin-bottom: 10px;
  }